@{
    ViewData["Title"] = "Game Criteria";
}

<!-- Page detailing what criteria a game should meet to be added to the site.-->

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
