@{
    ViewData["Title"] = "Home Page";
}

<!-- Unused file for games list.-->

<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>

    <!-- Top 3 Games -->
    <!-- Game 1 -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="" alt="Game 1" class="d-block" style="width:100%">
        </div>
    <!-- Game 2 -->
        <div class="carousel-item">
            <img src="" alt="Game 2" class="d-block" style="width:100%">
        </div>
    <!-- Game 3 -->
        <div class="carousel-item">
            <img src="" alt="Game 3" class="d-block" style="width:100%">
        </div>
    </div>

    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>

<div class="row gy-4" style="margin-left: 20px; margin-right: 20px;">
    <!-- Goes through the list of games held in the Game model and lists the pertinent information.-->
    @foreach (var game in Model)
    {
        <div class="col-sm-3 d-flex">
            <div class="card">
                <a href="@Url.Action("Play", "Games", new { id = game.Id })" style="text-decoration: none;">
                    <img src="@game.Thumbnail" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">@game.Title</h5>
                        <p class="card-text"><small class="text-muted">Placeholder Desc</small></p>
                    </div>
                </a>
            </div>
        </div>
    }
</div>
