@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    h1{
        color: #FFC72C;
    }
    p{
        color:white;
    }
</style>
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
