html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url("/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

html * {
    font-family: "My Custom Font";
}

@font-face {
    font-family: "My Custom Font";
    src: url(/fonts/BebasNeue-Regular.ttf) format("truetype");
}