@model List<BucStop.Models.Game>

<style>
    .game-item {
        display: inline-block;
        margin-right: 20px;
        vertical-align: top;
    }

    .game-title {
        font-weight: bold;
        text-align: center;
        margin-top: 5px;
    }

    .game-thumbnail {
        display: block;
        margin: 0 auto;
    }
    h2{
        color: #FFC72C;
    }
    a{
        color: #C6AA76;
    }
</style>

<h2>List of Games</h2>

<div class="game-list">
    <ul>
        @foreach (var game in Model)
        {
            <div class="game-item">
                <a href="@Url.Action("Play", "Games", new { id = game.Id })">
                    <div class="game-title">@game.Title</div>
                    <img class="game-thumbnail" src="@game.Thumbnail" alt="@game.Description">
                </a>
            </div>
        }
    </ul>
</div>

