@model List<BucStop.Models.Game>

<!-- This page has the list of games that are currently on the site.-->

<h1>List of Games</h1>

<div class="game-list">
    <ul>
        <!-- Goes through the list of games held in the Game model and lists the pertinent information.-->
        @foreach (var game in Model)
        {
            <div class="game-item">
                <!-- Links to the game-->
                <a href="@Url.Action("Play", "Games", new { id = game.Id })"> 
                    <div class="game-title">@game.Title</div>
                    <img class="game-thumbnail" src="@game.Thumbnail" alt="@game.Description">
                </a>
            </div>
        }
    </ul>
</div>

